body {
  padding-top: 60px;
  font-family: 'Roboto Condensed';
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 0px 0px 10px;
  color: #c7aa8b;
  font-size: 47px;
  line-height: 55px;
  font-weight: 500;
}

h2 {
  margin: 0px 0px 10px;
  color: #4d4d4d;
  font-size: 30px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin: 10px 0px;
  font-size: 31px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin: 0px 0px 10px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Roboto;
}

.button {
  display: inline-block;
  margin-top: 0px;
  padding: 8px 15px;
  border: 2px solid #fff;
  background-color: rgba(77, 77, 77, .2);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #323232;
}

.button.beige {
  border-color: #c7aa8b;
  color: #c7aa8b;
}

.button.beige:hover {
  background-color: #c7aa8b;
  color: #323232;
}

.button.beige.footer {
  display: block;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
  border-color: hsla(195.906976744186, 0.00%, 100.00%, 1.00);
  color: hsla(30.999999999999996, 0.00%, 100.00%, 1.00);
}

.button.form {
  margin-top: 22px;
  margin-bottom: 23px;
  border-color: #323232;
  background-color: #323232;
  color: #c7aa8b;
}

.button.form:hover {
  background-color: transparent;
  color: #323232;
}

.button.solid {
  border-color: #c7aa8b;
  background-color: #c7aa8b;
}

.button.solid:hover {
  background-color: transparent;
  color: #c7aa8b;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  border-bottom: 0px solid hsla(38.52631578947368, 100.00%, 62.75%, 1.00);
  background-color: transparent;
  opacity: 1;
}

.nav-link {
  padding: 20px 30px;
  border-right: 0px none #4d4d4d;
  -webkit-transition: background-color 100ms ease, margin 500ms ease;
  transition: background-color 100ms ease, margin 500ms ease;
  font-family: 'Roboto Condensed';
  color: #ededed;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: hsla(38.73015873015873, 100.00%, 62.94%, 1.00);
  color: #fff;
}

.nav-link.w--current {
  border-right-style: none;
  border-right-width: 0px;
  background-color: hsla(195.906976744186, 93.89%, 44.90%, 1.00);
  box-shadow: none;
  color: hsla(38.52631578947368, 100.00%, 62.75%, 1.00);
}

.nav-link.w--current:hover {
  background-color: hsla(38.73015873015873, 100.00%, 62.94%, 1.00);
  color: hsla(30.999999999999996, 0.00%, 100.00%, 1.00);
}

.nav-link.social-icons {
  padding: 18px 22px 22px;
  float: right;
  border-left: 0px none #4d4d4d;
  opacity: 0.8;
}

.nav-link.social-icons:hover {
  opacity: 1;
}

.nav-link.social-icons.last {
  border-left-style: none;
}

.logo-text {
  margin-top: 3px;
  margin-right: 31px;
  float: left;
  font-family: 'Futura std';
  color: #ededed;
  font-size: 25px;
  font-weight: 500;
  text-transform: none;
}

.nav-menu {
  float: left;
  border-left: 0px none #4d4d4d;
}

.stone-logo {
  margin-right: 8px;
  float: left;
  opacity: 0.9;
}

.stone-logo.footer {
  opacity: 0.4;
}

.brand {
  padding-top: 17px;
}

.section {
  padding-top: 81px;
  padding-bottom: 80px;
  color: #4d4d4d;
}

.section.grey {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #333;
  color: #fff;
}

.section.beige {
  background-color: #fff;
}

.section.image {
  padding-top: 127px;
  padding-bottom: 127px;
}

.section.lightgrey {
  background-color: #f7f7f7;
}

.section.footer {
  padding-top: 65px;
  padding-bottom: 53px;
  background-color: hsla(38.52631578947368, 100.00%, 62.75%, 1.00);
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 53px;
  font-family: 'Roboto Condensed';
  color: #fff;
  font-size: 50px;
  line-height: 66px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}

.main-heading.bold {
  position: relative;
  top: 12px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: 'Futura font';
  line-height: 70px;
  font-weight: 700;
  text-align: left;
  text-transform: none;
}

.slider-nav {
  font-size: 9px;
  line-height: 10px;
}

.main-subheading {
  margin-top: 18px;
  margin-bottom: 44px;
  font-family: Vollkorn, serif;
  color: hsla(0, 0%, 100%, .81);
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
}

.horizontal-bar {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  width: 100px;
  height: 2px;
  background-color: #fff;
}

.horizontal-bar.beige {
  display: inline-block;
  background-color: #c7aa8b;
}

.horizontal-bar.lightgrey {
  background-color: rgba(50, 50, 50, .18);
}

.slider {
  height: 490px;
  background-color: transparent;
}

.slide {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #04a6de;
  text-align: center;
  cursor: default;
}

.slide._2 {
  background-image: url('../images/city.jpg');
}

.slide._3 {
  background-image: url('../images/town.jpg');
}

.process-titles {
  margin-bottom: 23px;
  padding-top: 23px;
  border-top: 1px solid hsla(0, 0%, 46%, .31);
  color: #666;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.icon-wrapper {
  height: 109px;
  margin-bottom: 24px;
  text-align: center;
}

.number {
  margin-top: -22px;
  margin-bottom: 2px;
  padding-top: 0px;
  color: #b0b0b0;
  font-size: 16px;
  text-transform: uppercase;
}

.testimonials-slider {
  height: auto;
  padding-right: 47px;
  padding-left: 47px;
  background-color: transparent;
}

.testimonial-slide {
  width: 50%;
  padding: 24px 30px;
  text-align: center;
}

.left-arrow {
  width: 45px;
  color: #d1d1d1;
}

.left-arrow:hover {
  color: #c7aa8b;
}

.right-arrow {
  width: 45px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #d1d1d1;
}

.right-arrow:hover {
  color: #c7aa8b;
}

.testimonial {
  margin-bottom: 18px;
  font-family: Vollkorn, serif;
  font-size: 18px;
  font-style: italic;
}

.small-title {
  color: rgba(50, 50, 50, .36);
  font-size: 16px;
  text-transform: uppercase;
}

.small-title-wrapper {
  margin-bottom: 20px;
  text-align: center;
}

.author {
  color: #c7aa8b;
  text-transform: uppercase;
}

.footer-text {
  margin-top: 3px;
  color: #fff;
}

.footer-text.address {
  text-align: right;
}

.subheading {
  margin-top: 19px;
  margin-bottom: 10px;
  font-family: Vollkorn, serif;
  color: #a6a6a6;
  font-size: 18px;
  font-style: italic;
}

.contact-form-column {
  padding: 74px 33px;
  background-color: #c7aa8b;
}

.contact-info-column {
  padding-top: 72px;
}

.field {
  height: 52px;
  margin-bottom: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 0px solid #000;
  color: #323232;
  font-size: 18px;
  text-transform: uppercase;
}

.field:hover {
  background-color: hsla(0, 0%, 100%, .8);
}

.field:focus {
  box-shadow: inset 0 0 0 0 transparent;
}

.success {
  padding-top: 35px;
  padding-bottom: 43px;
  border: 3px solid #323232;
  background-color: transparent;
  color: #323232;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.success-message {
  margin-bottom: 73px;
}

.contact-icon {
  margin-top: 31px;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 11px;
}

.project-title {
  margin-bottom: 20px;
}

.tag-wrapper {
  margin-bottom: 19px;
}

.tag-icon {
  margin-top: 4px;
  margin-right: 5px;
  float: left;
  opacity: 0.19;
}

.tag-title {
  margin-right: 16px;
  float: left;
  color: #b8b8b8;
  font-size: 14px;
}

.back-to-work-column {
  padding-top: 32px;
  text-align: right;
}

.prev-project-wrapper {
  padding-right: 30px;
  border-right: 3px solid #4d4d4d;
  text-align: right;
}

.nex-project-wrapper {
  padding-left: 30px;
}

.project-link {
  text-decoration: none;
}

.project-link:hover {
  color: #323232;
  text-decoration: underline;
}

.name {
  margin-top: 11px;
  font-size: 16px;
}

.social-icon {
  padding-right: 10px;
  opacity: 0.26;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.position {
  margin-bottom: 8px;
  font-family: Vollkorn, serif;
  font-style: italic;
}

.icons-wrapper {
  margin-bottom: 11px;
}

.wrap {
  position: relative;
  left: auto;
  z-index: 900;
  display: block;
  overflow: visible;
  width: 80%;
  height: auto;
  max-width: 1980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section1 {
  width: 100%;
  height: 100%;
}

.intro {
  position: relative;
  display: block;
  height: 70vh;
  margin-bottom: 100px;
  padding-top: 145px;
  padding-bottom: 0px;
  float: none;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #04a6de;
  text-align: center;
}

.intro:hover {
  background-color: hsla(195.906976744186, 93.89%, 44.90%, 1.00);
}

.container {
  overflow: hidden;
  height: auto;
  background-color: #07a5de;
}

.body {
  overflow: scroll;
  background-color: #07a5de;
}

.bold-text {
  font-family: 'Futura std';
  font-size: 60px;
  text-align: left;
}

.heading {
  color: hsla(38.73015873015873, 100.00%, 62.94%, 1.00);
}

.work {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: hsla(38.52631578947368, 0.00%, 100.00%, 1.00);
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline;
  overflow: visible;
  width: 270px;
  height: 300px;
  padding-left: 0px;
  float: none;
  clear: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #c72929;
  background-image: url('../images/stone-webclip.png');
  background-position: 0px 0px;
}

.cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: NaNpx;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 400px;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: transparent;
}

.div-block-2 {
  position: static;
  display: inline-block;
  overflow: visible;
  width: 300px;
  height: 300px;
}

.div-block-3 {
  width: 35%;
  background-color: #ffbc42;
}

.column {
  padding-right: 40px;
  padding-left: 40px;
}

.column-2 {
  padding-right: 40px;
  padding-left: 40px;
}

.column-3 {
  padding-right: 40px;
  padding-left: 40px;
}

.column-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.div-block-4 {
  width: 25%;
  background-color: #ffbc42;
}

.div-block-5 {
  width: 25%;
  background-color: #ffbc42;
}

.div-block-6 {
  width: 35%;
  background-color: #ffbc42;
}

.team {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 54px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.company {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #07a5de;
}

.heading-2 {
  color: hsla(38.73015873015873, 100.00%, 62.94%, 1.00);
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-2 {
  display: block;
  margin-top: 0px;
}

.heading-3 {
  color: hsla(195.906976744186, 93.89%, 44.90%, 1.00);
  font-size: 50px;
}

.container-2 {
  border-bottom: 1px none #000;
}

.container-3 {
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000;
}

.wrap-1 {
  position: relative;
  left: auto;
  z-index: 900;
  display: block;
  overflow: visible;
  width: 80%;
  height: auto;
  max-width: 1980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.wrap-2 {
  position: relative;
  left: auto;
  z-index: 900;
  display: block;
  overflow: visible;
  width: 80%;
  height: auto;
  max-width: 1980px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-2 {
  position: relative;
  display: block;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  body {
    padding-top: 57px;
  }
  .nav-link {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    border-top: 1px solid #4d4d4d;
    border-right-style: none;
  }
  .nav-link.social-icons {
    padding-right: 21px;
    padding-left: 21px;
    border-right-color: #4d4d4d;
  }
  .nav-menu {
    background-color: #323232;
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, .13), 0 7px 13px -4px rgba(0, 0, 0, .45);
  }
  .menu-icon {
    color: #fff;
    line-height: 21px;
  }
  .menu-button {
    opacity: 0.8;
  }
  .menu-button.w--open {
    background-color: #000;
    opacity: 1;
  }
  .main-heading {
    margin-bottom: 4px;
    font-size: 68px;
  }
  .slider {
    height: 469px;
  }
  .testimonial-slide {
    width: 100%;
    padding-right: 92px;
    padding-left: 92px;
  }
  .left-arrow {
    margin-left: 0px;
  }
  .right-arrow {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .button.beige.footer {
    margin-top: 17px;
    margin-bottom: 8px;
  }
  .navbar {
    position: relative;
  }
  .stone-logo.footer {
    float: none;
  }
  .section {
    padding: 34px 10px;
  }
  .section.grey {
    padding: 35px 10px;
  }
  .section.image {
    padding: 61px 10px;
    background-attachment: scroll;
  }
  .section.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }
  .main-heading {
    font-size: 50px;
    line-height: 44px;
  }
  .slider {
    height: 392px;
  }
  .slide {
    padding: 50px 10px;
  }
  .icon-wrapper {
    height: 102px;
  }
  .number {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .testimonials-slider {
    padding-right: 19px;
    padding-left: 19px;
  }
  .testimonial-slide {
    padding-right: 34px;
    padding-left: 34px;
  }
  .footer-text.address {
    text-align: center;
  }
  .contact-form-column {
    margin-top: 35px;
    padding: 43px 10px;
  }
  .contact-info-column {
    padding-top: 42px;
  }
  .back-to-work-column {
    padding-top: 12px;
    text-align: left;
  }
  .icons-wrapper {
    margin-bottom: 23px;
  }
  .project-column {
    padding-top: 23px;
  }
}

@media (max-width: 479px) {
  .main-heading {
    width: 100%;
    font-size: 48px;
  }
  .slider {
    height: 476px;
  }
  .slide {
    padding-top: 58px;
    padding-bottom: 58px;
  }
  .contact-form-column {
    text-align: center;
  }
  .contact-info-column {
    text-align: center;
  }
}

@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Bold-font.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Futur';
  src: url('../fonts/futur.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura extra font';
  src: url('../fonts/Futura-Extra-Black-font.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Futura std';
  src: url('../fonts/Futura-Std-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}